apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ripley-hazard
  namespace: hazard-spots
  labels:
    app: ripley-hazard
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ripley-hazard
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
